{% extends 'mailing/base.html' %}

{% block content %}
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <h2 class="text-center" style="color: #0d6efd">Восстановление пароля</h2>
        <p>Введите ваш почтовый адрес и мы отправим на него инструкцию для восстановления пароля</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сброс пароля</button>
            <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Перейти ко входу</a>
        </form>
    </div>
    <div class="col-3">
    </div>
</div>
{% endblock %}